@{
    ViewData["Title"] = "Home Page";
}

    <h3>Video Streaming from Vimeo content</h3>
    <div class="row">
        <div class="col-md-4"><a href="Home/Video" class="btn btn-primary">See video</a></div>
        <div class="col-md-4"><a href="Home/Playlist" class="btn btn-primary">See playlist</a></div>
        <div class="col-md-4"><a href="Home/Live" class="btn btn-primary">See live</a></div>
    </div>

