
@{
    ViewData["Title"] = "Live";
}

<h2>Live</h2>


<div class="row" style="padding-top: 5em;">
        <div class="col-md-10">
            <iframe src="https://player.vimeo.com/video/382729743" width="800" height="450" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        <div class="col-md-2">
            <iframe src="https://vimeo.com/live-chat/382729743/" width="400" height="600" frameborder="0"></iframe>
        </div>
    </div>

